.dialog-artist
	if image
		.artist-image.pull-left(style="background-image: url('" + image + "');")
	
	div.pull-left
		h3=name
		div.albums
			each x, i in items
				span.album-item=(x.name + ' (' + x.year + ')' + (i !== items.length - 1 ? ', ' : ''))
	
	div.spacer

	p.summary!=summary
	p &nbsp;


	if similar.length > 0
		div.similar
			h4 Similar artists
			each artist, i in similar
				span
					if artist.isLastFM
						img.destination-icon(src='/images/lastfm-icon.png')
						a(href=artist.url)=artist.name
					else
						img.destination-icon(src='/images/ikon-512.png')
						a.navigate-to-artist(href="#")=artist.name						
					
					span=(i !=similar.length - 1 ? ',' : '')
					span &nbsp; 


	p &nbsp;
	button.btn.btn-default.pull-right(type="button") Close
	p &nbsp;
